<div class="">
    <%= @agent.full_name %>
    <%= @agent.company %>

    <button class="btn btn-info">Call <%= @agent.first_name %></button>
    <button class="btn btn-success">Email <%= @agent.first_name %></button>
</div>