<% @properties.each do |property| %>
    <div class="col-3">
        <%= property_thumbnail property %>
        <h3 class="h5 mt-3"><%= property.name %></h3>
        <p><%= property.address %></p>
        <div class="amenities">
        </div>
        <span></span>
    </div>
<% end %>