  
<p id="notice"><%= notice %></p>
<% if @property.photo.present? %>
  <div class="property-main-photo" style="background-image:url('<%= @property.photo.url %>')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% else%> 
  <div class="property-main-photo" style="background: image-url('no-image-found-360x250.jpg')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% end %>